#bert 3

In [ ]:

!pip install transformers==3.0.2
import tensorflow as tf
import pickle
import torch.nn as nn
import torch
from torch.nn.utils.rnn import pack_padded_sequence
from nltk.translate.bleu_score import corpus_bleu
#from processData import Vocabulary
from tqdm import tqdm_notebook as tqdm
import torchvision.models as models
from torch.autograd import Variable
import torch.nn.functional as F
import numpy as np
import json
import torchvision.transforms as transforms
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import skimage.transform
import argparse
from PIL import Image
import matplotlib.image as mpimg
from IPython import display
from torchtext.vocab import Vectors, GloVe
import torch
import transformers
from transformers import BertTokenizer, BertModel, BertForMaskedLM
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
bert_model = transformers.TFBertModel.from_pretrained("bert-base-uncased")

In [ ]:


from pickle import dump
from pickle import load
from keras.applications.vgg16 import VGG16
from keras.preprocessing.image import load_img
from keras.preprocessing.image import img_to_array
from keras.applications.vgg16 import preprocess_input
from keras.models import Model
import numpy as np
from keras.preprocessing.text import Tokenizer
from collections import Counter
from tensorflow.keras.utils import to_categorical
from keras.models import Model
from keras.layers import Input
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Embedding
from keras.layers import Dropout
from keras.layers.merge import add
from tensorflow.keras.utils import plot_model
from keras.preprocessing.sequence import pad_sequences
from keras.models import load_model

In [ ]:

import pickle 
with open("/content/drive/MyDrive/IMAGE2TWEET/train_img_vgg19.pkl","rb") as f:
  i_e=pickle.load(f)

In [ ]:
import pandas as pd
df1=pd.read_csv("/content/drive/MyDrive/IMAGE2TWEET/english_train_data.csv")

In [ ]:
df1

                  Tweet ID  ... Cluster ID
0      1263440694305124352  ...          1
1      1237032071123496962  ...          2
2      1237025347306225670  ...          3
3      1237025194767601665  ...          4
4      1237024936415211520  ...          5
...                    ...  ...        ...
48787  1148971878783963137  ...      28469
48788  1148904697853464577  ...      28470
48789  1148889598396944385  ...      28471
48790  1148788937110016001  ...      28472
48791  1148782347384262656  ...      28473

[48792 rows x 4 columns]

In [ ]:
a=list(i_e.keys())
x=df1.columns
q=list(df1['Text'])
caps={}
for i in a:
  j=int(i.split("_")[1])
  caps[i]=['startseq ' + q[j]+ ' endseq']

In [ ]:
def data_generator(descriptions, photos, wordtoix, max_length, num_photos_per_batch):
    X1, X2, y = list(), list(), list()
    n=0
    # loop for ever over images
    while 1:
        for key, desc_list in descriptions.items():
            n+=1
            # retrieve the photo feature
            photo = photos[key]
            for desc in desc_list:
                # encode the sequence
                seq = [wordtoix[word] for word in desc.split(' ') if word in wordtoix]
                se= [word for word in desc.split(' ') if word in wordtoix]
                # split one sequence into multiple X, y pairs
                for i in range(1, len(seq)):
                    encoded = tokenizer.batch_encode_plus(
                                                    [" ".join(se[:i])],
                                                add_special_tokens=True,
                                                  max_length=61,
                                                return_attention_mask=True,
                                                return_token_type_ids=True,
                                                 pad_to_max_length=True,
                                                   return_tensors="tf",
                                                     truncation=True
                                                )
                    input_ids = np.array(encoded["input_ids"], dtype="int32")
                    attention_masks = np.array(encoded["attention_mask"], dtype="int32")
                    token_type_ids = np.array(encoded["token_type_ids"], dtype="int32")
                    sequence_output, pooled_output = bert_model(input_ids, attention_mask=attention_masks, token_type_ids=token_type_ids)
                    b1=tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(64, return_sequences=True))(sequence_output)
                    avg_pool = tf.keras.layers.GlobalAveragePooling1D()(b1)
                    max_pool = tf.keras.layers.GlobalMaxPooling1D()(b1)
                    concat = tf.keras.layers.concatenate([avg_pool, max_pool])
                    dropout = tf.keras.layers.Dropout(0.3)(concat)

                    # split into input and output pair
                    out_seq = seq[i]
                    # pad input sequence
                    #in_seq = pad_sequences([in_seq], maxlen=max_length)[0]
                    # encode output sequence
                    out_seq = to_categorical([out_seq], num_classes=vocab_size)[0]
                    # store
                    X1.append(photo)
                    X2.append(dropout)
                    y.append(out_seq)

            if n==num_photos_per_batch:
                yield ([np.array(X1), np.array(X2)], np.array(y))
                X1, X2, y = list(), list(), list()
                n=0

In [ ]:
word_count_threshold = 10
word_counts = {}
nsents = 0
for sent in list(caps.values()):
    nsents += 1
    for w in sent[0].split(' '):
        word_counts[w] = word_counts.get(w, 0) + 1
vocab = [w for w in word_counts if word_counts[w] >= word_count_threshold]

print('Vocabulary = %d' % (len(vocab)))

Vocabulary = 9587

In [ ]:
ixtoword = {}
wordtoix = {}
ix = 1
for w in vocab:
    wordtoix[w] = ix
    ixtoword[ix] = w
    ix += 1

vocab_size = len(ixtoword) + 1

In [ ]:
caption_max_length = 33
batch_size = 1
max_length = 33

In [ ]:
generator = data_generator(caps, i_e, wordtoix, max_length, batch_size)

In [ ]:
epochs = 3
batch_size = 3
steps = len(caps)//batch_size

In [ ]:

from keras.layers.merge import concatenate
from keras.models import Model
import keras.backend as K




inputs1 = Input(shape=(4096,))
fe1 = Dropout(0.5)(inputs1)
fe2 = Dense(256, activation='relu')(fe1)


inputs2 = Input(shape=(256,))

decoder1 = add([fe2,inputs2])#add([fe2, se3])
decoder2 = Dense(256, activation='relu')(decoder1)
outputs = Dense(vocab_size, activation='softmax')(decoder2)

model = Model(inputs=[inputs1, inputs2], outputs=outputs)
model.summary()


model.compile(loss='categorical_crossentropy', optimizer='adam')

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_3 (InputLayer)           [(None, 4096)]       0           []

 dropout_124 (Dropout)          (None, 4096)         0           ['input_3[0][0]']

 dense_3 (Dense)                (None, 256)          1048832     ['dropout_124[0][0]']

 input_4 (InputLayer)           [(None, 256)]        0           []

 add_1 (Add)                    (None, 256)          0           ['dense_3[0][0]',
                                                                  'input_4[0][0]']

 dense_4 (Dense)                (None, 256)          65792       ['add_1[0][0]']

 dense_5 (Dense)                (None, 9588)         2464116     ['dense_4[0][0]']

==================================================================================================
Total params: 3,578,740
Trainable params: 3,578,740
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
model.fit_generator(generator, epochs=20, steps_per_epoch=steps, verbose=1)

In [ ]:
%cd /content/drive/MyDrive/IMAGE2TWEET/

/content/drive/.shortcut-targets-by-id/11Sw-O0lrFYAF-DUvpGN2x_IdU7YnPfZG/IMAGE2TWEET

In [ ]:
from tensorflow.keras.models import save_model

save_model(
    model,
    'models/bert_vgg19_IM2TW.hdf5',
    overwrite=True,
    include_optimizer=True
)

/usr/local/lib/python3.7/dist-packages/keras/engine/functional.py:1410: CustomMaskWarning: Custom mask layers require a config and must override get_config. When loading, the custom mask layer must be passed to the custom_objects argument.
  layer_config = serialize_layer_fn(layer)

In [ ]:
def greedySearch(photo):
    in_text = 'startseq'
    for i in range(max_length):
        #sequence = [wordtoix[w] for w in in_text.split() if w in wordtoix]
        #sequence = pad_sequences([sequence], maxlen=max_length)
        #add bert here
        encoded = tokenizer.batch_encode_plus(
                                                    [in_text],
                                                add_special_tokens=True,
                                                  max_length=61,
                                                return_attention_mask=True,
                                                return_token_type_ids=True,
                                                 pad_to_max_length=True,
                                                   return_tensors="tf",
                                                     truncation=True
                                                )
        input_ids = np.array(encoded["input_ids"], dtype="int32")
        attention_masks = np.array(encoded["attention_mask"], dtype="int32")
        token_type_ids = np.array(encoded["token_type_ids"], dtype="int32")
        sequence_output, pooled_output = bert_model(input_ids, attention_mask=attention_masks, token_type_ids=token_type_ids)
        b1=tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(64, return_sequences=True))(sequence_output)
        avg_pool = tf.keras.layers.GlobalAveragePooling1D()(b1)
        max_pool = tf.keras.layers.GlobalMaxPooling1D()(b1)
        concat = tf.keras.layers.concatenate([avg_pool, max_pool])
        dropout = tf.keras.layers.Dropout(0.3)(concat)



        yhat = model.predict([photo,dropout], verbose=0)
        yhat = np.argmax(yhat)
        word = ixtoword[yhat]
        in_text += ' ' + word
        if word == 'endseq':
            break

    final = in_text.split()
    final = final[1:-1]
    final = ' '.join(final)
    return final

In [ ]:
with open("/content/drive/MyDrive/IMAGE2TWEET/val_img_vgg19.pkl","rb") as f:
    i_e=pickle.load(f)

In [ ]:

ret=[]
z=list(i_e.values())
for i in range(len(z)):
  print(i)
  image=z[i]
  ret.append(greedySearch(image))
#ret

In [ ]:
df=pd.DataFrame(ret,columns=['caps'])
df.to_excel("/content/drive/MyDrive/IMAGE2TWEET/exp_bert_caps.xlsx")

In [ ]:
!pip install pycocoevalcap
from pycocoevalcap.cider.cider import Cider
from pycocoevalcap.bleu.bleu import Bleu
from pycocoevalcap.meteor.meteor import Meteor
from pycocoevalcap.rouge.rouge import Rouge

!pip install nltk==3.5
import nltk
nltk.download('wordnet')

In [ ]:
class I2TTokeninser:
  def tokenise(self,captions):
      id=[k for k,v in captions.items()]
      PUNCTUATIONS = ["''", "'", "``", "`", "-LRB-", "-RRB-", "-LCB-", "-RCB-",".", "?", "!", ",", ":", "-", "--", "...", ";"]
      caps=[v for k,v in captions.items()] ### [ [caption 1_1,caption 1_2 ,] ,[caption 2_1,caption 2_2,..],..]
      tok_cap=[]
      for i in range(len(caps)):
        temp=[]
        for j in range(len(caps[i])):
          tokenised_caps=' '.join([w for w in caps[i][j].rstrip().split(' ') if w not in PUNCTUATIONS])
          temp.append(tokenised_caps)
        tok_cap.append(temp)
      ret_caps={}
      for i in range(len(id)):
        ret_caps[id[i]]=tok_cap[i]
      return ret_caps

In [ ]:


def scorer(orig,ret):
  tok=I2TTokeninser()
  ori=tok.tokenise(orig)
  re=tok.tokenise(ret)


  Avg_cider=0.0
  Avg_bleu=0
  Avg_meteor=0
  Avg_rouge=0
  
  for i in range(len(re.keys())):
    temp_re={}
    temp_re[list(re.keys())[i]]=list(re.values())[i]#[list(re.values())[i]]
    caps=ori[list(re.keys())[i]]

    for j in range(len(caps)):
      temp={}
      temp[list(re.keys())[i]]=[caps[j]]

      score,_=Cider().compute_score(temp, temp_re)
      Avg_cider=Avg_cider + score 
    
    Avg_cider= Avg_cider +  Avg_cider/len(caps)   ## getting average score of every ret caption adn referance caption(captions in cluster) and adding to total score(for all retrieved captions)
  Avg_cider=Avg_cider / len(re.keys())
  score, scores = Cider().compute_score(ori, re)
  print("cider ",score)
  Mscore=0
  for i in range(len(re.keys())):
    name=list(re.keys())[i]
    Mscore =Mscore +nltk.translate.meteor_score.meteor_score(ori[name], re[name][0])
  Mscore =Mscore /len(re.keys())
  
  Avg_meteor=Mscore  


  score,_=Rouge().compute_score(ori, re)
  Avg_rouge=score

  BLEUscore = 0
  for i in range(len(re.keys())):
    name=list(re.keys())[i]
    #x=[]
    #for j in range(len(ori[name])):
    #  x.append(ori[name][j].split())
    #BLEUscore =BLEUscore +nltk.translate.bleu_score.sentence_bleu(x, re[name][0].split())
    BLEUscore =BLEUscore +nltk.translate.bleu_score.sentence_bleu(ori[name], re[name][0])
  BLEUscore =BLEUscore /len(re.keys())
  Avg_bleu=BLEUscore
  #print("CIDER: ","{0:.4f}".format(Avg_cider))
  print("Meteor : ",Avg_rouge,"ROUGE : " ,Avg_rouge,"BLEU 4 :  " ,Avg_bleu) # return score 
import pandas as pd

def evaluator(ret):
  #ret === > {image_id : [caption], } example : ret={1300483489071063042:['black animal'],1300465872838950912:['dinner at a restraunt']}

  
  
  df1=pd.read_csv("/content/drive/MyDrive/IMAGE2TWEET/english_test_data (1).csv")







  id=[k for k,v in ret.items()]
  #caps=[v for k,v in ret.items()] 
  orig={}
  for i in range(len(id)):
    cluster_id=list(df1[df1['Tweet ID']==id[i]]['Cluster ID'])[0]
    c=df1[df1['Cluster ID']==cluster_id]['Text']
    temp=[]
    for j in c:
      temp.append(j)
    orig[id[i]]=temp
  #print(orig)
  #print(ret)
  scorer(orig,ret)

In [ ]:
y=ret
ret={}
df2=pd.read_csv("/content/drive/MyDrive/IMAGE2TWEET/english_test_data (1).csv")

x=df2['id']

for i in range(0,len(x)):
  ret[x[i]]=[y[i]]

In [ ]:
evaluator(ret)

cider  3.756380705535758e-04
Meteor :  0.00013100512749380385 ROUGE :  0.00013100512749380385 BLEU 4 :   0.023742007300135464

#bert 3 Hindi

In [ ]:

!pip install transformers==3.0.2
import tensorflow as tf
import pickle
import torch.nn as nn
import torch
from torch.nn.utils.rnn import pack_padded_sequence
from nltk.translate.bleu_score import corpus_bleu
#from processData import Vocabulary
from tqdm import tqdm_notebook as tqdm
import torchvision.models as models
from torch.autograd import Variable
import torch.nn.functional as F
import numpy as np
import json
import torchvision.transforms as transforms
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import skimage.transform
import argparse
from PIL import Image
import matplotlib.image as mpimg
from IPython import display
from torchtext.vocab import Vectors, GloVe
import torch
import transformers
from transformers import BertTokenizer, BertModel, BertForMaskedLM
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
bert_model = transformers.TFBertModel.from_pretrained("bert-base-uncased")

In [ ]:


from pickle import dump
from pickle import load
from keras.applications.vgg16 import VGG16
from keras.preprocessing.image import load_img
from keras.preprocessing.image import img_to_array
from keras.applications.vgg16 import preprocess_input
from keras.models import Model
import numpy as np
from keras.preprocessing.text import Tokenizer
from collections import Counter
from tensorflow.keras.utils import to_categorical
from keras.models import Model
from keras.layers import Input
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Embedding
from keras.layers import Dropout
from keras.layers.merge import add
from tensorflow.keras.utils import plot_model
from keras.preprocessing.sequence import pad_sequences
from keras.models import load_model

In [ ]:

import pickle 
with open("/content/drive/MyDrive/IMAGE2TWEET/hindi_train_img_vgg19.pkl","rb") as f:
  i_e=pickle.load(f)

In [ ]:
import pandas as pd
df1=pd.read_csv("/content/drive/MyDrive/IMAGE2TWEET/hindi_train_data.csv")

In [ ]:
df1

                 Tweet ID  ... Cluster ID
0      765816844875800576  ...          1
1      765801793355911168  ...          2
2      765801486043508736  ...          3
3      765787288068616192  ...          4
4      765779586496000000  ...          5
...                   ...  ...        ...
35696  607047306739777536  ...      32865
35697  607047239203094528  ...      32866
35698  607047059103825920  ...      32867
35699  606724304596631552  ...      32868
35700  605994821803634688  ...      32869

[35701 rows x 4 columns]

In [ ]:
a=list(i_e.keys())
x=df1.columns
q=list(df1['Text'])
caps={}
for i in a:
  j=int(i.split("_")[1])
  caps[i]=['startseq ' + q[j]+ ' endseq']

In [ ]:
def data_generator(descriptions, photos, wordtoix, max_length, num_photos_per_batch):
    X1, X2, y = list(), list(), list()
    n=0
    # loop for ever over images
    while 1:
        for key, desc_list in descriptions.items():
            n+=1
            # retrieve the photo feature
            photo = photos[key]
            for desc in desc_list:
                # encode the sequence
                seq = [wordtoix[word] for word in desc.split(' ') if word in wordtoix]
                se= [word for word in desc.split(' ') if word in wordtoix]
                # split one sequence into multiple X, y pairs
                for i in range(1, len(seq)):
                    encoded = tokenizer.batch_encode_plus(
                                                    [" ".join(se[:i])],
                                                add_special_tokens=True,
                                                  max_length=61,
                                                return_attention_mask=True,
                                                return_token_type_ids=True,
                                                 pad_to_max_length=True,
                                                   return_tensors="tf",
                                                     truncation=True
                                                )
                    input_ids = np.array(encoded["input_ids"], dtype="int32")
                    attention_masks = np.array(encoded["attention_mask"], dtype="int32")
                    token_type_ids = np.array(encoded["token_type_ids"], dtype="int32")
                    sequence_output, pooled_output = bert_model(input_ids, attention_mask=attention_masks, token_type_ids=token_type_ids)
                    b1=tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(64, return_sequences=True))(sequence_output)
                    avg_pool = tf.keras.layers.GlobalAveragePooling1D()(b1)
                    max_pool = tf.keras.layers.GlobalMaxPooling1D()(b1)
                    concat = tf.keras.layers.concatenate([avg_pool, max_pool])
                    dropout = tf.keras.layers.Dropout(0.3)(concat)

                    # split into input and output pair
                    out_seq = seq[i]
                    # pad input sequence
                    #in_seq = pad_sequences([in_seq], maxlen=max_length)[0]
                    # encode output sequence
                    out_seq = to_categorical([out_seq], num_classes=vocab_size)[0]
                    # store
                    X1.append(photo)
                    X2.append(dropout)
                    y.append(out_seq)

            if n==num_photos_per_batch:
                #yield ([np.array(X1), np.array(X2)], np.array(y))
                yield ([np.array(X1).reshape(-1,4096), np.array(X2).reshape(-1,256)], np.array(y).reshape(-1,7334))
                X1, X2, y = list(), list(), list()
                n=0

In [ ]:
word_count_threshold = 10
word_counts = {}
nsents = 0
for sent in list(caps.values()):
    nsents += 1
    for w in sent[0].split(' '):
        word_counts[w] = word_counts.get(w, 0) + 1
vocab = [w for w in word_counts if word_counts[w] >= word_count_threshold]

print('Vocabulary = %d' % (len(vocab)))

Vocabulary = 7333

In [ ]:
ixtoword = {}
wordtoix = {}
ix = 1
for w in vocab:
    wordtoix[w] = ix
    ixtoword[ix] = w
    ix += 1

vocab_size = len(ixtoword) + 1

In [ ]:
caption_max_length = 33
batch_size = 1
max_length = 33

In [ ]:
generator = data_generator(caps, i_e, wordtoix, max_length, batch_size)

In [ ]:
epochs = 3
batch_size = 3
steps = len(caps)//batch_size

In [ ]:

from keras.layers.merge import concatenate
from keras.models import Model
import keras.backend as K





inputs1 = Input(shape=(4096,))
fe1 = Dropout(0.5)(inputs1)
fe2 = Dense(256, activation='relu')(fe1)


inputs2 = Input(shape=(256,))


decoder1 = add([fe2,inputs2])#add([fe2, se3])
decoder2 = Dense(256, activation='relu')(decoder1)
outputs = Dense(vocab_size, activation='softmax')(decoder2)

model = Model(inputs=[inputs1, inputs2], outputs=outputs)
model.summary()


model.compile(loss='categorical_crossentropy', optimizer='adam')

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_1 (InputLayer)           [(None, 4096)]       0           []

 dropout_37 (Dropout)           (None, 4096)         0           ['input_1[0][0]']

 dense (Dense)                  (None, 256)          1048832     ['dropout_37[0][0]']

 input_2 (InputLayer)           [(None, 256)]        0           []

 add (Add)                      (None, 256)          0           ['dense[0][0]',
                                                                  'input_2[0][0]']

 dense_1 (Dense)                (None, 256)          65792       ['add[0][0]']

 dense_2 (Dense)                (None, 7334)         1884838     ['dense_1[0][0]']

==================================================================================================
Total params: 2,999,462
Trainable params: 2,999,462
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
model.fit_generator(generator, epochs=20, steps_per_epoch=steps, verbose=1)

In [ ]:
%cd /content/drive/MyDrive/IMAGE2TWEET/

/content/drive/.shortcut-targets-by-id/11Sw-O0lrFYAF-DUvpGN2x_IdU7YnPfZG/IMAGE2TWEET

In [ ]:
from tensorflow.keras.models import save_model

save_model(
    model,
    'models/HINDI_bert_vgg19_IM2TW.hdf5',
    overwrite=True,
    include_optimizer=True
)

/usr/local/lib/python3.7/dist-packages/keras/engine/functional.py:1410: CustomMaskWarning: Custom mask layers require a config and must override get_config. When loading, the custom mask layer must be passed to the custom_objects argument.
  layer_config = serialize_layer_fn(layer)

In [ ]:
def greedySearch(photo):
    in_text = 'startseq'
    for i in range(max_length):
        #sequence = [wordtoix[w] for w in in_text.split() if w in wordtoix]
        #sequence = pad_sequences([sequence], maxlen=max_length)
        #add bert here
        encoded = tokenizer.batch_encode_plus(
                                                    [in_text],
                                                add_special_tokens=True,
                                                  max_length=61,
                                                return_attention_mask=True,
                                                return_token_type_ids=True,
                                                 pad_to_max_length=True,
                                                   return_tensors="tf",
                                                     truncation=True
                                                )
        input_ids = np.array(encoded["input_ids"], dtype="int32")
        attention_masks = np.array(encoded["attention_mask"], dtype="int32")
        token_type_ids = np.array(encoded["token_type_ids"], dtype="int32")
        sequence_output, pooled_output = bert_model(input_ids, attention_mask=attention_masks, token_type_ids=token_type_ids)
        b1=tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(64, return_sequences=True))(sequence_output)
        avg_pool = tf.keras.layers.GlobalAveragePooling1D()(b1)
        max_pool = tf.keras.layers.GlobalMaxPooling1D()(b1)
        concat = tf.keras.layers.concatenate([avg_pool, max_pool])
        dropout = tf.keras.layers.Dropout(0.3)(concat)



        yhat = model.predict([photo,dropout], verbose=0)
        yhat = np.argmax(yhat)
        word = ixtoword[yhat]
        in_text += ' ' + word
        if word == 'endseq':
            break

    final = in_text.split()
    final = final[1:-1]
    final = ' '.join(final)
    return final

In [ ]:
with open("/content/drive/MyDrive/IMAGE2TWEET/hindi_test_img_vgg19.pkl","rb") as f:
    i_e=pickle.load(f)

In [ ]:
ret=[]
z=list(i_e.values())
for i in range(len(z)):
  print(i)
  image=z[i]
  ret.append(greedySearch(image))

In [ ]:
!pip install pycocoevalcap
from pycocoevalcap.cider.cider import Cider
from pycocoevalcap.bleu.bleu import Bleu
from pycocoevalcap.meteor.meteor import Meteor
from pycocoevalcap.rouge.rouge import Rouge

!pip install nltk==3.5
import nltk
nltk.download('wordnet')

In [ ]:
class I2TTokeninser:
  def tokenise(self,captions):
      id=[k for k,v in captions.items()]
      PUNCTUATIONS = ["''", "'", "``", "`", "-LRB-", "-RRB-", "-LCB-", "-RCB-",".", "?", "!", ",", ":", "-", "--", "...", ";"]
      caps=[v for k,v in captions.items()] ### [ [caption 1_1,caption 1_2 ,] ,[caption 2_1,caption 2_2,..],..]
      tok_cap=[]
      for i in range(len(caps)):
        temp=[]
        for j in range(len(caps[i])):
          tokenised_caps=' '.join([w for w in caps[i][j].rstrip().split(' ') if w not in PUNCTUATIONS])
          temp.append(tokenised_caps)
        tok_cap.append(temp)
      ret_caps={}
      for i in range(len(id)):
        ret_caps[id[i]]=tok_cap[i]
      return ret_caps

In [ ]:


def scorer(orig,ret):
  tok=I2TTokeninser()
  ori=tok.tokenise(orig)
  re=tok.tokenise(ret)


  Avg_cider=0.0
  Avg_bleu=0
  Avg_meteor=0
  Avg_rouge=0
  
  for i in range(len(re.keys())):
    temp_re={}
    temp_re[list(re.keys())[i]]=list(re.values())[i]#[list(re.values())[i]]
    caps=ori[list(re.keys())[i]]

    for j in range(len(caps)):
      temp={}
      temp[list(re.keys())[i]]=[caps[j]]

      score,_=Cider().compute_score(temp, temp_re)
      Avg_cider=Avg_cider + score 
    
    Avg_cider= Avg_cider +  Avg_cider/len(caps)   ## getting average score of every ret caption adn referance caption(captions in cluster) and adding to total score(for all retrieved captions)
  Avg_cider=Avg_cider / len(re.keys())
  score, scores = Cider().compute_score(ori, re)
  print("cider ",score)
  Mscore=0
  for i in range(len(re.keys())):
    name=list(re.keys())[i]
    Mscore =Mscore +nltk.translate.meteor_score.meteor_score(ori[name], re[name][0])
  Mscore =Mscore /len(re.keys())
  
  Avg_meteor=Mscore  


  score,_=Rouge().compute_score(ori, re)
  Avg_rouge=score

  BLEUscore = 0
  for i in range(len(re.keys())):
    name=list(re.keys())[i]
    #x=[]
    #for j in range(len(ori[name])):
    #  x.append(ori[name][j].split())
    #BLEUscore =BLEUscore +nltk.translate.bleu_score.sentence_bleu(x, re[name][0].split())
    BLEUscore =BLEUscore +nltk.translate.bleu_score.sentence_bleu(ori[name], re[name][0])
  BLEUscore =BLEUscore /len(re.keys())
  Avg_bleu=BLEUscore
  #print("CIDER: ","{0:.4f}".format(Avg_cider))
  print("Meteor : ",Avg_rouge,"ROUGE : " ,Avg_rouge,"BLEU 4 :  " ,Avg_bleu) # return score 
import pandas as pd

def evaluator(ret):
  #ret === > {image_id : [caption], } example : ret={1300483489071063042:['black animal'],1300465872838950912:['dinner at a restraunt']}

  df1=pd.read_csv("/content/drive/MyDrive/IMAGE2TWEET/hindi_test_data (1).csv")







  id=[k for k,v in ret.items()]
  #caps=[v for k,v in ret.items()] 
  orig={}
  for i in range(len(id)):
    cluster_id=list(df1[df1['Tweet ID']==id[i]]['Cluster ID'])[0]
    c=df1[df1['Cluster ID']==cluster_id]['Text']
    temp=[]
    for j in c:
      temp.append(j)
    orig[id[i]]=temp
  #print(orig)
  #print(ret)
  scorer(orig,ret)

In [ ]:
y=ret
r={}

In [ ]:
df2=pd.read_csv("/content/drive/MyDrive/IMAGE2TWEET/hindi_test_data (1).csv")
e=df2.columns

x=df2[e[0]]

In [ ]:
df2

                 Tweet ID  ... Cluster ID
0      672060201063714816  ...          1
1      672035790541598720  ...          2
2      672029674831110144  ...          3
3      672017633508638721  ...          4
4      672009054810562560  ...          5
...                   ...  ...        ...
7647   877044934351568896  ...       7043
7648   914537416190578688  ...       7043
7649  1098199948221243393  ...       7043
7650  1122845186210459648  ...       7043
7651  1139065318024683523  ...       7043

[7652 rows x 4 columns]

In [ ]:

for i in range(0,len(y)):
  r[x[i]]=[y[i]]

In [ ]:
import nltk

evaluator(r)

cider  4.958281440697747e-04
 Meteor :  0.0023126010193659234 ROUGE :  0.00023126010193659234 BLEU 4 :   0.033913476601767118